<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" manifest="story.manifest">
  <head>
    <%= stylesheet_link_tag('reset') %>
    <%= stylesheet_link_tag('theme1') %>

    <%= javascript_include_tag('jquery.min') %>
    <script>$j=jQuery;</script>
    <%= javascript_include_tag('layout.js') %>
    <%= javascript_include_tag('keyboard.js') %>
  </head>
  <body>
    <%= @content_for_layout %>
  </body>
</html>